<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <!-- Company Name and Home Link -->
      <a class="navbar-brand" href="/">Liftability</a>
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <!-- Login and Signup Links -->
        <div class="d-flex">
          <a class="nav-link me-2" href="/login">Login</a>
          <a class="nav-link" href="/signup">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
</header>
